#alert-placeholder{
	margin-top: 10px;
}
.img-thumbnail .deleteMedia {
	display: block;
	position: absolute;
	left: 8px;
	bottom: 8px;
	height: 30px;
	width: 30px;
	padding: 6px;
	font-size: 14px;
	line-height: 18px;
	background: #CCC;
	border-radius: 100%;
	color: #FFF;
	text-align: center;
}

.img-thumbnail .deleteMedia i {
	position: relative;
	top: -0px;
	left: -0px;
}